#error_explanation.center
  - flash.each do |name, msg|
    = content_tag :div, msg, class: name
= render 'shared/error_messages'
%header.navbar.navbar-fixed-top.navbar-inverse
  .nav
    .container
      = link_to root_path, id: 'logo' do
        = content_tag(:span, "", :class => "")
        Swap Sniper
      -unless signed_in?
        %nav
          %ul.nav.navbar-nav.navbar-right
            %li
              =link_to "Home", root_path
            %li
              =link_to "Sign Up", signup_path
            %li
              =link_to "Sign In", signin_path
      -if signed_in?
        %nav
          %ul.nav.navbar-nav.navbar-right
            %li
              =link_to "Home", root_path
            %li
              =link_to "#{current_user.name}", user_path(current_user)
            %li
              = link_to "Sign Out", signout_path, method: "delete"
